<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h3>Create User</h3>
  <form action="/dashboard/admin/users/create" method="POST">
    <label for="">First name</label>
    <input type="text" name="firstName" placeholder="input your first name" />
    <br /><br />
    <button>Submit</button>
  </form>
</body>

</html>